# Winning Wrestlers Entertainment

In this activity you will be taking four seperate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [17]:
# Import the necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
# Bring each CSV into a separate data frame
wwe2013_df = pd.read_csv("Resources/WWE-Data-2013.csv")
wwe2014_df = pd.read_csv("Resources/WWE-Data-2014.csv")
wwe2015_df = pd.read_csv("Resources/WWE-Data-2015.csv")
wwe2016_df = pd.read_csv("Resources/WWE-Data-2016.csv")

In [19]:
# Merge the first two datasets (2013 and 2014) on "Wrestler" so that no data is lost (should be 182 rows)
combined2013_2014 = pd.merge(wwe2013_df, wwe2014_df, on='Wrestler', how = 'outer')

# Check the length of rows with len
len(combined2013_2014)

182

In [20]:
# Rename our _x columns to "2013 Wins", "2013 Losses", and "2013 Draws"
# Rename our _y columns to "2014 Wins", "2014 Losses", and "2014 Draws"

combined2013_2014 = combined2013_2014.rename(columns = {'Wins_x': '2013 Wins',
                                               'Draws_x': '2013 Draws',
                                               'Losses_x': '2013 Losses'})

combined2013_2014 = combined2013_2014.rename(columns = {'Wins_y': '2014 Wins',
                                               'Losses_y': '2014 Losses',
                                               'Draws_y': '2014 Draws'})

In [21]:
# Merge our newly combined dataframe with the 2015 dataframe
combined2013_2014_2015 = pd.merge(combined2013_2014, wwe2015_df, on='Wrestler', how = 'outer')

combined2013_2014_2015

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...
208,Tommy Dreamer,NaN,NaN,NaN,NaN,NaN,NaN,4.0,9.0,1.0
209,Levis Valenzuela Jr.,NaN,NaN,NaN,NaN,NaN,NaN,7.0,6.0,0.0
210,Cassie,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.0,0.0
211,Gionna Daddio,NaN,NaN,NaN,NaN,NaN,NaN,8.0,4.0,0.0
212,Tino Sabbatelli,NaN,NaN,NaN,NaN,NaN,NaN,1.0,11.0,0.0

In [22]:
# Rename "wins", "losses", and "draws" to "2015 Wins", "2015 Losses", and "2015 Draws"
combined2013_2014_2015 = combined2013_2014_2015.rename(columns = {'Wins': '2015 Wins',
                                                           'Losses': '2015 Losses',
                                                           'Draws': '2015 Draws'})
combined2013_2014_2015.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0

In [23]:
# Merge our newly combined dataframe with the 2016 dataframe
combined2013_2014_2015_2016 = pd.merge(combined2013_2014_2015, wwe2016_df, on='Wrestler', how = 'outer')

combined2013_2014_2015_2016

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Nikki Cross,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,5.0,0.0
266,Noah Potjes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,10.0,0.0
267,Cezar Bononi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9.0,1.0
268,James Ellsworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,0.0
269,Macey Estrella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,0.0

In [24]:
# Rename "wins", "losses", and "draws" to "2016 Wins", "2016 Losses", and "2016 Draws"

combined2013_2014_2015_2016 = combined2013_2014_2015_2016.rename(columns = {'Wins': '2016 Wins',
                                                           'Losses': '2016 Losses',
                                                           'Draws': '2016 Draws'})
combined2013_2014_2015_2016.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0

# Part 2 - Time to Calculate!

When your tables have been merged together into one data frame, calculate the total number of wins, losses, and draws a wrestler has had over the course of their career. Also create a new column that will hold the total matches a wrestler has been in over the course of their career.

You will need to convert all NaN values to a number so that you can perform these calculations
We are only interested in those wrestlers who have been with the WWE from 2013 to 2016. You will need to come up with some way of filtering out rows that do not meet these conditions.

Also set the 'Wrestler' column as your key for easier referencing later on.

In [25]:
# Replace all NaN values with 0 
combined2013_2014_2015_2016 = combined2013_2014_2015_2016.replace(np.nan,0)
combined2013_2014_2015_2016

# Create a new column called "Total Wins" and add up each wrestler's wins per year to fill in the values
combined2013_2014_2015_2016['Total Wins'] = combined2013_2014_2015_2016['2013 Wins'] + combined2013_2014_2015_2016['2014 Wins'] + combined2013_2014_2015_2016['2015 Wins'] + combined2013_2014_2015_2016['2016 Wins']

# Create a new column called "Total Losses" and add up each wrestler's losses per year to fill in the values
combined2013_2014_2015_2016['Total Losses'] = combined2013_2014_2015_2016['2013 Losses'] + combined2013_2014_2015_2016['2014 Losses'] + combined2013_2014_2015_2016['2015 Losses'] + combined2013_2014_2015_2016['2016 Losses']

# Create a new column called "Total Draws" and add up each wrestler's draws per year to fill in the values
combined2013_2014_2015_2016['Total Draws'] = combined2013_2014_2015_2016['2013 Draws'] + combined2013_2014_2015_2016['2014 Draws'] + combined2013_2014_2015_2016['2015 Draws'] + combined2013_2014_2015_2016['2016 Draws']

# Create a new column called "Total Matches" and add up the total wins, losses, and draws for each wrestler to fill in the values
combined2013_2014_2015_2016['Total Matches'] = combined2013_2014_2015_2016['Total Wins'] + combined2013_2014_2015_2016['Total Losses'] + combined2013_2014_2015_2016['Total Draws']

combined2013_2014_2015_2016.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws,Total Wins,Total Losses,Total Draws,Total Matches
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,0.0,0.0,0.0,263.0,60.0,8.0,331.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0,482.0,300.0,15.0,797.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.0,150.0,1.0,236.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0,227.0,454.0,13.0,694.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0,282.0,181.0,14.0,477.0

In [26]:
# Create a new dataframe for those wrestlers who have wrestled at least 100 matches,
# have at least one win in 2013,
# and have at least one win in 2016
# Set the index of this new dataframe to be the wrestlers names

#use .Loc to filter for matches greater or equal to 100

new_100_df = combined2013_2014_2015_2016.loc[(combined2013_2014_2015_2016['Total Matches'] >= 100) & (combined2013_2014_2015_2016['2013 Wins'] >=1) & (combined2013_2014_2015_2016['2016 Wins'] >=1)]

new_100_df

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws,Total Wins,Total Losses,Total Draws,Total Matches
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0,482.0,300.0,15.0,797.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0,227.0,454.0,13.0,694.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0,282.0,181.0,14.0,477.0
5,Roman Reigns,49.0,140.0,5.0,118.0,28.0,4.0,187.0,19.0,7.0,142.0,12.0,5.0,496.0,199.0,21.0,716.0
6,Ryback,103.0,88.0,3.0,43.0,114.0,1.0,138.0,34.0,2.0,37.0,17.0,1.0,321.0,253.0,7.0,581.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Viktor,6.0,1.0,0.0,51.0,33.0,0.0,19.0,143.0,0.0,2.0,145.0,1.0,78.0,322.0,1.0,401.0
141,Adam Rose,4.0,1.0,0.0,86.0,21.0,0.0,8.0,142.0,1.0,6.0,23.0,0.0,104.0,187.0,1.0,292.0
145,Konnor,5.0,0.0,0.0,49.0,29.0,0.0,19.0,141.0,0.0,2.0,110.0,1.0,75.0,280.0,1.0,356.0
148,Alexa Bliss,1.0,3.0,0.0,24.0,19.0,0.0,19.0,37.0,0.0,35.0,90.0,0.0,79.0,149.0,0.0,228.0
158,Simon Gotch,1.0,2.0,0.0,35.0,31.0,0.0,57.0,41.0,0.0,11.0,111.0,1.0,104.0,185.0,1.0,290.0

# Part 3 - Charting Careers

Store an individual wrestler's wins over time in a variable
Store that same wrestler's losses over time in a variable as well
Create a line chart that will plot this wrestler's wins and losses from 2013 to 2016

In [28]:
# Collect the user's input to search through our data frame
wrestler_name = input("What wrestler's career would you like to look at?")

# Create a series that looks for a wrestler by name and then traces their wins from 2013 to 2016
wins_over_time = new_100_df.loc[wrestler_name,["2013 Wins","2014 Wins","2015 Wins","2016 Wins"]]
# Create a series that looks for a wrestler by name and then traces their losses from 2013 to 2016
losses_over_time = new_100_df.loc[wrestler_name,["2013 Losses","2014 Losses","2015 Losses","2016 Losses"]]

# Create a list of the years that we will use as our x axis
years = [2013,2014,2015,2016]

# Plot our line that will be used to track a wrestler's wins over the years
plt.plot(years,wins_over_time, color="green",label="Wins")

# Plot our line that will be used to track a wrestler's losses over the years
plt.plot(years,losses_over_time,color="red",label="Losses")

# Place a legend on the chart in what matplotlib believes to be the "best" location
plt.legend(loc="best")
plt.title(wrestler_name + " 's Recent Career")
plt.xlabel("Years")
plt.ylabel("Number of Wins/Losses")
# Print our chart to the screen
plt.show()

What wrestler's career would you like to look at?Roman Reigns

KeyError: 'Roman Reigns'